<?xml version="1.0"?>

<robot name="littlebot" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Included URDF/XACRO Files -->
<xacro:include filename="$(find littlebot_description)/urdf/rodas.xacro" />
<xacro:include filename="$(find littlebot_description)/urdf/sonar.xacro" />


 <!--
########################################################################################
Modelagem base_link "link"
########################################################################################
-->
 <link name="base_link">

 </link>

 <!--
########################################################################################
Modelagem do chassis2 "link" "joint" 
########################################################################################
-->
 <link name="chassis">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <!-- <mesh filename="package://littlebot_description/meshes/chassis.dae" /> -->
        <mesh filename="package://littlebot_description/meshes/littlebot.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <mesh filename="package://littlebot_description/meshes/chassis.dae" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <mass value="0.058"/>
      <inertia ixx="1.429e-4"  ixy="2.778e-10"  ixz="1.773e-8" iyy="1.943e-4" iyz="-2.656e-7" izz="5.361e-5" />
    </inertial>
  </link>  

  <joint name="base_to_chassis" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

<!--
########################################################################################
Modelagem das rodas macro Xacro "link" "gazebo" "joint" "transmission
########################################################################################
-->
  <xacro:littlebot_wheel lado_roda="esquerda">
    <origin xyz="0.0 0 0" rpy="0 0 0"/>
    <origin xyz="0.0281 0.057 -0.01425" rpy="0 0 0" />
    <!-- <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <origin xyz="0.0015 0.0479 -0.003" rpy="0 0 0" /> -->
  </xacro:littlebot_wheel>

  <xacro:littlebot_wheel lado_roda="direita">
    <origin xyz="0 0 0" rpy="0 0 3.142"/>
    <origin xyz="0.0281 -0.057 -0.01425" rpy="0 0 0" />
    <!-- <origin xyz="0 -0.0178 -0.0225" rpy="3.142 0 0" />
    <origin xyz="0.0015 -0.0301 -0.003" rpy="0 0 0" /> -->
  </xacro:littlebot_wheel>

<!--
########################################################################################
Modelagem do suporte do sonar "link" "joint"
######################################################################################## 
-->
 <!-- <link name="suporte_sonar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <mesh filename="package://littlebot_description/meshes/suporte_sonar.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <mesh filename="package://littlebot_description/meshes/suporte_sonar.dae" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <mass value="0.058"/>
      <inertia ixx="1.429e-4"  ixy="2.778e-10"  ixz="1.773e-8" iyy="1.943e-4" iyz="-2.656e-7" izz="5.361e-5" />
    </inertial>
  </link>  

  <joint name="chassis_to_suporte" type="fixed">
    <parent link="chassis"/>
    <child link="suporte_sonar"/>
    <origin xyz="0.094 0.0 0.0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint> -->



<!--
########################################################################################
Modelagem do sonar "link" "joint"
########################################################################################
-->

  <xacro:littlebot_sonar sonar_numero="1">
    <origin xyz="0.05822 0.045787 0.064" rpy="0 0 0.7854" />
  </xacro:littlebot_sonar>

  <xacro:littlebot_sonar sonar_numero="2">
    <origin xyz="0.07211 0.0248 0.064" rpy="0 0 0.3927"/>
  </xacro:littlebot_sonar>

  <xacro:littlebot_sonar sonar_numero="3">
    <origin xyz="0.092279 0.0 0.004733" rpy="0 0 0" />
  </xacro:littlebot_sonar>

  <xacro:littlebot_sonar sonar_numero="4">
    <origin xyz="0.07211 -0.0248 0.064" rpy="0 0 -0.3927"/>
  </xacro:littlebot_sonar>

  <xacro:littlebot_sonar sonar_numero="5">
    <origin xyz="0.05822 -0.045787 0.064" rpy="0 0 -0.7854"/>
  </xacro:littlebot_sonar> 
 

<!--
########################################################################################
Modelagem da conversor1 "link" "joint"
######################################################################################## 
-->
  <!-- <link name="conversor1">                                                                                                                                         
    <visual>                                                                    
      <origin xyz="0 0 0" rpy="0 0 0" />                                                   
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/CC-converter.dae" />     
      </geometry>                                                                   
    </visual>                                                                   
    <collision>                                                                   
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                    
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/CC-converter.dae" />     
      </geometry>                                                                   
    </collision>                                                                    
    <inertial>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571"/>                                                                   
      <mass value="0.01946206"/>                                                                   
      <inertia ixx="1.561e-6"  ixy="0.000e+0"  ixz="0.000e+0" iyy="1.944e-6" iyz="0.000e+0" izz="3.350e-6" />                                                                   
    </inertial>                                                                   
  </link>                                  

  <joint name="base_to_conversor1" type="fixed">
    <parent link="chassis"/>
    <child link="conversor1"/>
    <origin xyz="-0.0285 -0.0185 0.00165" rpy="0 0 0" />
  </joint> -->

<!--
########################################################################################
Modelagem da conversor2 "link" "joint"
######################################################################################## 
-->
  <!-- <link name="conversor2">                                                                                                                                         
    <visual>                                                                    
      <origin xyz="0 0 0" rpy="0 0 0" />                                                   
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/CC-converter.dae" />     
      </geometry>                                                                   
    </visual>                                                                   
    <collision>                                                                   
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                    
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/CC-converter.dae" />     
      </geometry>                                                                   
    </collision>                                                                    
    <inertial>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571"/>                                                                   
      <mass value="0.01946206"/>                                                                   
      <inertia ixx="1.561e-6"  ixy="0.000e+0"  ixz="0.000e+0" iyy="1.944e-6" iyz="0.000e+0" izz="3.350e-6" />                                                                   
    </inertial>                                                                   
  </link>                                  

  <joint name="base_to_conversor2" type="fixed">
    <parent link="chassis"/>
    <child link="conversor2"/>
    <origin xyz="-0.0285 -0.0445 0.00165" rpy="0 0 0" />
  </joint> -->

<!--
########################################################################################
Modelagem da pont_h "link" "joint"
######################################################################################## 
-->
  <!-- <link name="pont_h">                                                                                                                                         
    <visual>                                                                    
      <origin xyz="0 0 0" rpy="0 0 0" />                                                   
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/L298_Driver.dae" />     
      </geometry>                                                                   
    </visual>                                                                   
    <collision>                                                                   
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                    
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/L298_Driver.dae" />     
      </geometry>                                                                   
    </collision>                                                                    
    <inertial>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571"/>                                                                   
      <mass value="0.01946206"/>                                                                   
      <inertia ixx="1.561e-6"  ixy="0.000e+0"  ixz="0.000e+0" iyy="1.944e-6" iyz="0.000e+0" izz="3.350e-6" />                                                                   
    </inertial>                                                                   
  </link>                                  

  <joint name="base_to_pont_h" type="fixed">
    <parent link="chassis"/>
    <child link="pont_h"/>
    <origin xyz="-0.0745 0.046 0.0015 " rpy="0 0 0" />
  </joint> -->

<!--
########################################################################################
Modelagem da rodinha-Caster Mounting Plate "link" "joint"
######################################################################################## 
-->
  <!-- <link name="caster_mounting">                                                                                                                                         
    <visual>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                   
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/Caster_Mounting_Plate.dae" />     
      </geometry>                                                                   
    </visual>                                                                   
    <collision>                                                                   
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                    
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/Caster_Mounting_Plate.dae" />     
      </geometry>                                                                   
    </collision>                                                                    
    <inertial>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571"/>                                                                   
      <mass value="0.01946206"/>                                                                   
      <inertia ixx="1.561e-6"  ixy="0.000e+0"  ixz="0.000e+0" iyy="1.944e-6" iyz="0.000e+0" izz="3.350e-6" />                                                                   
    </inertial>                                                                   
  </link>                                  

  <joint name="base_to_caster_mounting" type="fixed">
    <parent link="chassis"/>
    <child link="caster_mounting"/>
    <origin xyz="-0.0753 0.0 -0.003" rpy="0 0 0" />
  </joint> -->

<!--
########################################################################################
Modelagem da rodinha-Caster Wheel Plate "link" "joint"
######################################################################################## 
-->
  <link name="caster_wheel">                                                                                                                                         
    <visual>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                   
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/Caster_Wheel_Plate.dae" />     
      </geometry>                                                                   
    </visual>                                                                   
    <collision>                                                                   
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                    
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/Caster_Wheel_Plate.dae" />     
      </geometry>                                                                   
    </collision>                                                                    
    <inertial>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571"/>                                                                   
      <mass value="0.00982010"/>                                                                   
      <inertia ixx="8.398e-7"  ixy="-1.517e-14"  ixz="-1.601e-7" iyy="8.400e-7" iyz="1.155e-14" izz="1.340e-6" />                                                                   
    </inertial>                                                                   
  </link>                                                                   

  <joint name="caster_mounting_to_caster_wheel" type="continuous">
    <!-- <parent link="caster_mounting"/> -->
    <parent link="chassis"/>
    <child link="caster_wheel"/>
    <origin xyz="-0.0 0.0 -0.00623" rpy="0 0 0" />
    <axis xyz="0 0 1" />
  </joint>

  <transmission name="trans_caster" >
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="caster_mounting_to_caster_wheel">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="act_caster">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo reference="caster_wheel">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <kp  value="10000.0" />
    <kd  value="1.0" />
    <fdir1 value="1 0 0"/>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

<!--
########################################################################################
Modelagem da rodinha-Wheel "link" "joint"
######################################################################################## 
-->
  <link name="wheel">                                                                                                                                         
    <visual>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                   
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/Wheel.dae" />     
      </geometry>                                                                   
    </visual>                                                                   
    <collision>                                                                   
      <origin xyz="0 0 0" rpy="3.14 0 1.571" />                                                    
      <geometry>                                                                   
	      <mesh filename="package://littlebot_description/meshes/Wheel.dae" />     
      </geometry>                                                                   
    </collision>                                                                    
    <inertial>                                                                    
      <origin xyz="0 0 0" rpy="3.14 0 1.571"/>                                                                   
      <mass value="0.007"/>                                                                   
      <inertia ixx="3.569e-7"  ixy="0.000e+0"  ixz="0.000e+0" iyy="5.344e-7" iyz="0.000e+0" izz="3.569e-7" />                                                                   
    </inertial>                                                                   
  </link>                                                                   

  <joint name="caster_wheel_to_wheel" type="continuous">
    <parent link="caster_wheel"/>
    <child link="wheel"/>
    <origin xyz="0.0 0.0148 -0.0153" rpy="0 0 0" />
    <axis xyz="1 0 0" />
  </joint>

  <transmission name="trans_wheel" >
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="caster_wheel_to_wheel">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="act_wheel">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo reference="wheel">
    <mu1 value="100000.0"/>
    <mu2 value="100.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <fdir1 value="1 0 0"/>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- 
  ******************************************************************************************
  ros_control gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>
  <!-- 
  ******************************************************************************************
  IMU gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo>
    <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
      <robotNamespace>/</robotNamespace>
      <updateRate>50.0</updateRate>
      <bodyName>chassis</bodyName>
      <topicName>imu/data</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.005</headingDrift>
      <headingGaussianNoise>0.005</headingGaussianNoise>
    </plugin>
  </gazebo>
  <!-- 
  ******************************************************************************************
  SONAR_01 gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo reference="sonar_3">        
   <sensor type="ray" name="TeraRanger">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
         <scan>
            <horizontal>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle>
            </horizontal>
            <vertical>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle> 
            </vertical>
         </scan>
         <range>
            <min>0.01</min>
            <max>2</max>
            <resolution>0.02</resolution>
         </range>
      </ray>

      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
         <gaussianNoise>0.005</gaussianNoise>
         <alwaysOn>true</alwaysOn>
         <updateRate>50</updateRate>
         <topicName>sensor/sonar3</topicName>
         <frameName>sonar_3</frameName>
         <radiation>ULTRASOUND</radiation>
         <fov>0.2967</fov>
      </plugin>
    </sensor>  
  </gazebo>
  <!-- 
  ******************************************************************************************
  SONAR02 gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo reference="sonar_2">        
   <sensor type="ray" name="TeraRanger">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
         <scan>
            <horizontal>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle>
            </horizontal>
            <vertical>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle> 
            </vertical>
         </scan>
         <range>
            <min>0.01</min>
            <max>2</max>
            <resolution>0.02</resolution>
         </range>
      </ray>

      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
         <gaussianNoise>0.005</gaussianNoise>
         <alwaysOn>true</alwaysOn>
         <updateRate>50</updateRate>
         <topicName>sensor/sonar2</topicName>
         <frameName>sonar_2</frameName>
         <radiation>ULTRASOUND</radiation>
         <fov>0.2967</fov>
      </plugin>
   </sensor>  
  </gazebo>
  <!-- 
  ******************************************************************************************
  SONAR03 gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo reference="sonar_1">        
   <sensor type="ray" name="TeraRanger">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
         <scan>
            <horizontal>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle>
            </horizontal>
            <vertical>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle> 
            </vertical>
         </scan>
         <range>
            <min>0.01</min>
            <max>2</max>
            <resolution>0.02</resolution>
         </range>
      </ray>

      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
         <gaussianNoise>0.005</gaussianNoise>
         <alwaysOn>true</alwaysOn>
         <updateRate>50</updateRate>
         <topicName>sensor/sonar1</topicName>
         <frameName>sonar_1</frameName>
         <radiation>ULTRASOUND</radiation>
         <fov>0.2967</fov>
      </plugin>
   </sensor>  
  </gazebo>
  <!-- 
  ******************************************************************************************
  SONAR04 gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo reference="sonar_4">        
   <sensor type="ray" name="TeraRanger">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
         <scan>
            <horizontal>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle>
            </horizontal>
            <vertical>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle> 
            </vertical>
         </scan>
         <range>
            <min>0.01</min>
            <max>2</max>
            <resolution>0.02</resolution>
         </range>
      </ray>

      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
         <gaussianNoise>0.005</gaussianNoise>
         <alwaysOn>false</alwaysOn>
         <updateRate>50</updateRate>
         <topicName>sensor/sonar4</topicName>
         <frameName>sonar_4</frameName>
         <radiation>ULTRASOUND</radiation>
         <fov>0.2967</fov>
      </plugin>
   </sensor>  
  </gazebo>
  <!-- 
  ******************************************************************************************
  SONAR05 gazebo plugin 
  ******************************************************************************************
  -->
  <gazebo reference="sonar_5">        
   <sensor type="ray" name="TeraRanger">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>50</update_rate>
      <ray>
         <scan>
            <horizontal>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle>
            </horizontal>
            <vertical>
               <samples>10</samples>
               <resolution>1</resolution> 
               <min_angle>-0.14835</min_angle>
               <max_angle>0.14835</max_angle> 
            </vertical>
         </scan>
         <range>
            <min>0.01</min>
            <max>2</max>
            <resolution>0.02</resolution>
         </range>
      </ray>

      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
         <gaussianNoise>0.005</gaussianNoise>
         <alwaysOn>true</alwaysOn>
         <updateRate>50</updateRate>
         <topicName>sensor/sonar5</topicName>
         <frameName>sonar_5</frameName>
         <radiation>ULTRASOUND</radiation>
         <fov>0.2967</fov>
      </plugin>
   </sensor>  
  </gazebo>
    
</robot>
