# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.sus
*.idb
*.pdb

*.unc-backup~
*.unc-backup.md5~

.vscode/
*__pycache__/

# Coverage files
*.gcno
*.gcda
*.info
coverage/
*.coverage
coverage.xml
coverage_filtered.info
