<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find littlebot_description)/urdf/littlebot.xacro"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find littlebot_control)/config/littlebot_control.yaml" command="load"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
	output="screen" args="joint_state_controller  littlebot_diff_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false">
  </node>

</launch>
